body{
    background-color: darkolivegreen
}

ul{
    border: 2px dashed;
    border-color: white;
    
}

a {
    display: block;
    padding: 8px;
    border-radius: 8px;
    background-color: black;
    color: white;
}

li{
    font-family: Elephant;
    font-size: medium;
    display: inline;
}

div{
    font-family:'Times New Roman';
}