
body {
    background-color: darkolivegreen
}

a {
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    background-color: black;
    color: white;
    text-decoration: none;
}

li {
    font-family: Elephant;
    font-size: medium;
    display: inline;
}

div {
    font-family: 'Times New Roman';
}